@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

body {
  font-family: var(--font-nanum-gothic), sans-serif;
}

/* Markdown Editor Toolbar Size Customization */
.w-md-editor-toolbar {
  padding: 8px 10px !important;
  min-height: 46px;
}

.w-md-editor-toolbar li button {
  height: 30px !important;
  width: 30px !important;
}

.w-md-editor-toolbar svg {
  width: 18px !important;
  height: 18px !important;
}
